doctype html
head
  title  moderate a video 
  link(rel="stylesheet" href="/style.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset='utf-8')
  script(async src='https://www.googletagmanager.com/gtag/js?id=G-N9E9YP1HGF')
  script. 
   var __nspid="isrtzw";
   var __nsptags=[];
   (function(w, d) { var x = function() {
     var j=d.createElement("script");j.type="text/javascript";j.async=true;
     j.src="http"+("https:"===d.location.protocol?"s://cs":"://c")+".ns1p.net/p.js?a="+__nspid;
     d.body.appendChild(j); }
     if(w.addEventListener) { w.addEventListener("load", x, false); }
     else if(w.attachEvent) { w.attachEvent("onload", x); }
     else { w.onload = x; }
     }(window, document));
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', 'G-N9E9YP1HGF');

body
  h1 Video List
  
  each video in list
    h2 #{video.title}
    iframe(type="text/html", src=video.assets.player, width = "960", height="540",frameborder="0", scrollling="no")
    p #{video.publishedAt}
   
  //{"Title": list[i].title,"Player": list[i].assets.player,"Published": list[i].publishedAt};
  
  a(href='/') upload another!
  p
  
  div.linklist
   <a href="/SFW">Videos Safe For Work</a><br/>
   <a href="/nazism">Videos that may contain Nazis</a><br/>
   <a href="/no_nazism">Videos that do not contain Nazis</a><br/>
   <a href="/shirtlessmale">Videos that may contain shirtless men</a><br/>
   <a href="/no_shirtlessmale">Videos that do not contain shirtless men</a><br/>
   <a href="/femaleswimwear">Videos that may contain women in swimwear</a><br/>
   <a href="/no_femaleswimwear">Videos that do not contain women in swimwear</a><br/>
   <a href="/no_guns">Videos that do not have guns</a><br/>
   <a href="/yes_guns">Videos that do have guns</a><br/>
   <a href="/no_smoking">Videos that do not have smoking</a><br/>
   <a href="/yes_smoking">Videos that do have smoking</a><br/>
  footer 
   p Made with:
   a(href='https://api.video') api.video 
   | and 
   a(href="https://thehive.ai") Hive AI
   p Get the <a href="https://github.com/dougsillars/videoModeration">sample code</a>, and read about <a href="https://a.video/works/video-moderation">how we built the demo.</a><br/>
   p More sample apps can be found at <a href="https://a.video">a.video</a>.


